# IDE and SCM files
nbproject
.project
.idea
.svn
*~
.swp

# symfony folders
/cache/*
/log/*
/data/sql/*.schema.sql
/data/sql/sqldb.map

# project specific ignores
/test/schemas/*.sql

# generated folders
om
map
base

